				<article itemscope itemtype="http://schema.org/Product" class="product">	
					<figure>
						<img itemprop="image" src="{{product.picture}}" alt="{{product.imgAltText}}" class="product__image"/>
						{{#if imgCaption}}
						<figcaption class="product__image-caption">{{product.imgCaption}}</figcaption>
						{{/if}}
					</figure>
					<div class="container">
						<dl class="product__info">	
							<dt>Condición del producto</dt>
							<dd itemprop="itemCondition" class="product__condition">{{product.condition}}</dd>
							<dt>Cantidad de productos vendidos</dt>
							<dd class="product__sold-quantity"> - {{product.sold_quantity}} vendidos</dd>
							<dt>Título</dt>
							<dd>
								<h3 class="product__title">
									<span itemprop="name">{{product.title}}</span>	
								</h3>
							</dd>
							<dt>Precio</dt>
							<dd  itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product__price">
								$ <span itemprop="price">{{product.price.amount}}</span>
								<meta itemprop="priceCurrency" content="ARS" />
							</dd>
							{{#if free_shipping}} 
							<dt>Envío gratuito</dt>
							<dd class="product__free-shipping">Sí</dd>
							{{/if}}
							<dt>Ubicación</dt>
							<dd class="product__address">{{product.address.state_name}}</dd>
						</dl>
						<form class="product__call-to-action">
							<input type="hidden" name="product-id" id="product__id" value="{{product.id}}" />
							<input type="submit" title="Comprar {{product.title}}" 
								class="product__buy-button" value="Comprar" />
						</form>
					</div>
					<section class="product__description">
						<h3 class="product__description-title">Descripcion del producto</h3>
						<div class="product__description-text">
							{{{product.description}}}		
						</div>
					</section>
				</article>
